<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284898009831-bv57bpmuar1o9idloonfr2pt3potd9i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284898009831-bv57bpmuar1o9idloonfr2pt3potd9i3</string>
	<key>API_KEY</key>
	<string>AIzaSyAvMWxaIeMU3uUPUXfi3H6ZwT5mI8mmvjI</string>
	<key>GCM_SENDER_ID</key>
	<string>284898009831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purple.dr</string>
	<key>PROJECT_ID</key>
	<string>dr-purple</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-purple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284898009831:ios:44d9ed2afe9e863e873842</string>
</dict>
</plist>